Options All -Indexes
#Evita que accedamos al contenido de las carpetas
RewriteEngine on
#activa lo de abajo

RewriteCond %{REQUEST_FILENAME} !-d
#esto niega y busca un directorio valido
RewriteCond %{REQUEST_FILENAME} !-f
#debe ser valida para permitir accesos
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#indica que se reescribas los modulos por la url